@import '../../../styles.scss';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.grocery-loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;

  .grocery-loader-top {
    width: 100px;
    position: absolute;
    border-radius: 100%;
    height: 100px;
    animation: spin 1s infinite;
    border: solid 10px transparent;
    border-top-color: $success;
  }

  .grocery-loader-bottom {
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    position: absolute;
    border-radius: 100%;
    border: solid 10px transparent;
    border-bottom-color: $warning;
    animation: spin-reverse 1s infinite;
  }

  .grocery-loader-left {
    position: absolute;
    border: solid 10px transparent;
    border-left-color: $danger;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    top: 20px;
    left: 20px;
    animation: spin 1s infinite;
  }

  .grocery-loader-right {
    position: absolute;
    border: solid 10px transparent;
    border-right-color: $info;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    top: 30px;
    left: 30px;
    animation: spin-reverse 1s infinite;
  }


}


@media only screen and (min-width: 1000px) and (max-width: 1439px) {
  .grocery-centered-content {
    width: 1000px;
    position: relative;
    height: 700px;
    box-shadow: 0px 0px 96px #F4F2F1;
    display: flex;
    flex-direction: column;
  }


  .grocery-notification {
    position: absolute;
    display: flex;
    display: none;
    padding: 15px;
    margin-top: -30px;
    justify-content: center;
    width: 100%;

    &.is-active {
      display: flex;
    }

  }

  .grocery-content {
    display: flex;
    height: 90%;
    flex-direction: row;
  }

  .grocery-end {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    color: #5F6D71;
    text-align: center;

    a {
      color: $info;

      &:hover {
        color: #2a2b86;
      }

    }

  }

  .grocery-illustration {
    border-right: solid 2px #F4F2F1;
    margin: 125px 75px;
    display: flex;
    width: 40%;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
  }

  .grocery-image {
    width: 100%;
  }

  .grocery-signin {
    margin: 125px 0px;
    width: 60%;
  }

  .grocery-signup {
    margin: 125px 0px;
    width: 60%;
  }

  .grocery-title {
    font-variant-caps: all-petite-caps;
    text-align: start;
    font-size: 36px;
    font-weight: 400;
    color: #5F6D71;
    font-stretch: ultra-condensed;
    letter-spacing: -1px;
  }

  .grocery-subtitle {
    margin-top: 25px;
    font-size: 18px;
    color: #929190;
    text-align: start;
    font-weight: 500;
    font-stretch: ultra-condensed;
    letter-spacing: -0.5px;
  }

  .grocery-input-group {
    width: 85%;
    margin-top: 75px;
    align-items: center;
    justify-content: center;

    &.is-signup {
      margin-top: 25px;
    }

  }

  .grocery-input-holder {
    background: #fff;
    position: relative;
    margin-bottom: 2px;


    &.double {
      display: flex;
      flex-direction: row;
    }

    .grocery-input-double {
      flex-grow: 1;
      label {
        color: #929190;
        font-weight: 400;
        padding-left: 2px;
        left: 15px;
        top: 23px;
        z-index: -1;
        position: absolute;
        font-variant-caps: all-petite-caps;
      }

      input~.is-right {
        left: 225px;
      }

      input:focus~label {
        top: 0px;
        z-index: 1;
        transition: 0.5s;
      }

      input[type="password"]::-ms-reveal, input[type="password"]::-ms-clear {
        display: none;
      }

      .has-value {}

      .has-value~label {
        top: 0px;
        z-index: 1;
      }

    }

    span {
      font-variant-caps: all-petite-caps;
      position: absolute;
      right: 15px;
      cursor: pointer;
      top: 23px;
      font-weight: 400;
      color: #929190;
    }

    button {
      border: none;
      float: right;
      text-align: right;
      color: #929190;
      font-variant-caps: all-petite-caps;
      font-size: 24px;
      font-weight: 500;

      i {
        padding-left: 5px;
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
      }

    }


    label {
      color: #929190;
      font-weight: 400;
      padding-left: 2px;
      left: 15px;
      top: 23px;
      z-index: -1;
      position: absolute;
      font-variant-caps: all-petite-caps;
    }

    input:focus~label {
      top: 0px;
      z-index: 1;
      transition: 0.5s;
    }

    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
      display: none;
    }

    .has-value {

    }

    .has-value ~ label {
      top: 0px;
      z-index: 1;
    }

    input {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      padding-left: 16px;
      height: 70px;
      border-left: solid 8px #F4F2F1;

      &.is-danger {
        border-left: solid 8px $danger;
        box-shadow: 1px 1px 96px #F4F2F1;

      }

      &.is-success {
        border-left: solid 8px $success;
        box-shadow: 1px 1px 96px #F4F2F1;
      }

      &.is-warning {
        border-left: solid 8px $warning;
        box-shadow: 1px 1px 96px #F4F2F1;

      }


      &:focus {
        box-shadow: 1px 1px 96px #F4F2F1;

        &::placeholder {
          color: transparent;
        }

      }

      &.is-success {
        border-left: solid 8px $success;
      }

      &::placeholder {
        font-weight: 400;
        font-variant-caps: all-petite-caps;
      }

    }
  }

}



@media only screen and (min-width: 1440px) and (max-width: 1649px) {
  .grocery-centered-content {
    width: 1200px;
    height: 700px;
    box-shadow: 0px 0px 96px #F4F2F1;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .grocery-notification {
    position: absolute;
    display: none;
    padding: 15px;
    margin-top: -30px;
    justify-content: center;
    width: 100%;

    &.is-active {
      display: flex;
    }

  }

  .grocery-content {
    display: flex;
    height: 90%;
    flex-direction: row;
  }

  .grocery-end {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    color: #5F6D71;
    text-align: center;


    span {
      color: $info;
    }


  }

  .grocery-illustration {
    border-right: solid 2px #F4F2F1;
    margin: 125px 75px;
    display: flex;
    width: 40%;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
  }

  .grocery-image {
    width: 100%;
  }

  .grocery-signin {
    margin: 125px 0px;
    width: 60%;
  }

  .grocery-signup {
    margin: 125px 0px;
    width: 60%;
  }

  .grocery-title {
    font-variant-caps: all-petite-caps;
    text-align: start;
    font-size: 36px;
    font-weight: 400;
    color: #5F6D71;
    font-stretch: ultra-condensed;
    letter-spacing: -1px;
  }

  .grocery-subtitle {
    margin-top: 25px;
    font-size: 18px;
    color: #929190;
    text-align: start;
    font-weight: 500;
    font-stretch: ultra-condensed;
    letter-spacing: -0.5px;
  }

  .grocery-input-group {
    width: 85%;
    margin-top: 75px;
    align-items: center;
    justify-content: center;

    &.is-signup {
      margin-top: 25px;
    }

  }

  .grocery-input-holder {
    background: #fff;
    position: relative;
    margin-bottom: 2px;


    &.double {
      display: flex;
      flex-direction: row;
    }

    .grocery-input-double {
      flex-grow: 1;
      label {
        color: #929190;
        font-weight: 400;
        padding-left: 2px;
        left: 15px;
        top: 23px;
        z-index: -1;
        position: absolute;
        font-variant-caps: all-petite-caps;
      }
      input[type="password"]::-ms-reveal,
      input[type="password"]::-ms-clear {
        display: none;
      }

      input~.is-right {
        left: 275px;
      }

      input:focus~label {
        top: 0px;
        z-index: 1;
        transition: 0.5s;
      }

      .has-value~label {
        top: 0px;
        z-index: 1;
      }
    }

    span {
      font-variant-caps: all-petite-caps;
      position: absolute;
      right: 15px;
      cursor: pointer;
      top: 23px;
      font-weight: 400;
      color: #929190;
    }

    button {
      border: none;
      float: right;
      text-align: right;
      color: #929190;
      font-variant-caps: all-petite-caps;
      font-size: 24px;
      font-weight: 500;

      i {
        padding-left: 5px;
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
      }

    }


    label {
      color: #929190;
      font-weight: 400;
      padding-left: 2px;
      left: 15px;
      top: 23px;
      z-index: -1;
      position: absolute;
      font-variant-caps: all-petite-caps;
    }

    input:focus~label {
      top: 0px;
      z-index: 1;
      transition: 0.5s;
    }
    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
      display: none;
    }

    .has-value~label {
      top: 0px;
      z-index: 1;
    }

    input {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      padding-left: 16px;
      height: 70px;
      border-left: solid 8px #F4F2F1;

      &.is-danger {
        border-left: solid 8px $danger;
        box-shadow: 1px 1px 96px #F4F2F1;

      }

      &.is-success {
        border-left: solid 8px $success;
        box-shadow: 1px 1px 96px #F4F2F1;
      }

      &.is-warning {
        border-left: solid 8px $warning;
        box-shadow: 1px 1px 96px #F4F2F1;

      }


      &:focus {
        box-shadow: 1px 1px 96px #F4F2F1;

        &::placeholder {
          color: transparent;
        }

      }

      &.is-success {
        border-left: solid 8px $success;
      }

      &::placeholder {
        font-weight: 400;
        font-variant-caps: all-petite-caps;
      }

    }
  }

}

@media only screen and (min-width: 1650px) {
  .grocery-centered-content {
    width: 1500px;
    height: 700px;
    position: relative;
    box-shadow: 0px 0px 96px #F4F2F1;
    display: flex;
    flex-direction: column;
  }

  .grocery-notification {
    position: absolute;
    display: none;
    padding: 15px;
    margin-top: -30px;
    justify-content: center;
    width: 100%;

    &.is-active {
      display: flex;
    }
  }

  .grocery-content {
    display: flex;
    height: 90%;
    flex-direction: row;
  }

  .grocery-end {
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #5F6D71;
    flex-grow: 1;
    text-align: center;

    span {
      color: $info;
    }

  }

  .grocery-illustration {
    border-right: solid 2px #F4F2F1;
    margin: 125px 75px;
    display: flex;
    width: 40%;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
  }

  .grocery-image {
    width: 100%;
  }

  .grocery-signin {
    margin: 125px 0px;
    width: 60%;
  }

  .grocery-signup {
    margin: 125px 0px;
    width: 60%;
  }

  .grocery-title {
    font-variant-caps: all-petite-caps;
    text-align: start;
    font-size: 36px;
    font-weight: 400;
    color: #5F6D71;
    font-stretch: ultra-condensed;
    letter-spacing: -1px;
  }

  .grocery-subtitle {
    margin-top: 25px;
    font-size: 18px;
    color: #929190;
    text-align: start;
    font-weight: 500;
    font-stretch: ultra-condensed;
    letter-spacing: -0.5px;
  }

  .grocery-input-group {
    width: 65%;
    margin-top: 75px;
    align-items: center;
    justify-content: center;

    &.is-signup {
      margin-top: 25px;
    }

  }

  .grocery-input-holder {
    background: #fff;
    position: relative;
    margin-bottom: 2px;


    &.double {
      display: flex;
      flex-direction: row;
    }

    .grocery-input-double {
      flex-grow: 1;
      label {
        color: #929190;
        font-weight: 400;
        padding-left: 2px;
        left: 15px;
        top: 23px;
        z-index: -1;
        position: absolute;
        font-variant-caps: all-petite-caps;
      }
      input[type="password"]::-ms-reveal,
      input[type="password"]::-ms-clear {
        display: none;
      }

      input~.is-right {
        left: 275px;
      }

      input:focus~label {
        top: 0px;
        z-index: 1;
        transition: 0.5s;
      }

      .has-value~label {
        top: 0px;
        z-index: 1;
      }
    }

    span {
      font-variant-caps: all-petite-caps;
      position: absolute;
      right: 15px;
      cursor: pointer;
      top: 23px;
      font-weight: 400;
      color: #929190;
    }

    button {
      border: none;
      float: right;
      text-align: right;
      color: #929190;
      font-variant-caps: all-petite-caps;
      font-size: 24px;
      font-weight: 500;

      i {
        padding-left: 5px;
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
      }

    }


    label {
      color: #929190;
      font-weight: 400;
      padding-left: 2px;
      left: 15px;
      top: 23px;
      z-index: -1;
      position: absolute;
      font-variant-caps: all-petite-caps;
    }

    input:focus~label {
      top: 0px;
      z-index: 1;
      transition: 0.5s;
    }

    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
      display: none;
    }
    .has-value~label {
      top: 0px;
      z-index: 1;
    }

    input {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      padding-left: 16px;
      height: 70px;
      border-left: solid 8px #F4F2F1;
      &.is-danger {
        border-left: solid 8px $danger;
        box-shadow: 1px 1px 96px #F4F2F1;

      }

      &.is-success {
        border-left: solid 8px $success;
        box-shadow: 1px 1px 96px #F4F2F1;
      }

      &.is-warning {
        border-left: solid 8px $warning;
        box-shadow: 1px 1px 96px #F4F2F1;

      }


      &:focus {
        box-shadow: 1px 1px 96px #F4F2F1;

        &::placeholder {
          color: transparent;
        }

      }

      &.is-success {
        border-left: solid 8px $success;
      }

      &::placeholder {
        font-weight: 400;
        font-variant-caps: all-petite-caps;
      }

    }
  }
}
